html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  
  background: transparent;  
}

body {
  margin: 0;
}

.mybutton {
    position: fixed;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    max-width: 500px;
  }

.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sheet-background {
  background-color: rgba(142, 174, 213, 0.4);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  /* max-width: 500px; */
  margin: 0 auto;
}

.status-bar-completed {
  background: #1fff1f;
  box-shadow: -3px -3px 20px 1px rgba(31, 255, 31, 0.5);
}

.status-bar-pending {
  background: #ff217f;
  box-shadow: -3px -3px 20px 1px rgba(255, 33, 127, 0.5);
  
}